<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Taskhood</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="site_media/css/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="#">Taskhood Web-Site</a></h1>
<h2>To Do List...</h2>
</div>

<div id="right">

<h2><a href="#">Taskhood web-site</a></h2>
<div class="articles">
This web site <strong>"Taskhood"</strong> is for free use.	 
<br /><br />
<img src="site_media/images/pic.jpg" alt="Example pic" style="border: 3px solid #ccc;" />
<br /><br />
You can register for free to this web site.
You can open many task lists as you wish for, manage then by columns and types, sort columns,<br>
invite freinds to work with you on your tasks, define permision for each user in your group for the tasks.
</div>
<h2><a href="#">link to a new area</a></h2>
<div class="articles">
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br>
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br>
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br>
bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br>
</div>
</div>

<div id="left"> 

<h3>Categories :</h3>
<ul>
<li><a href="/login">Login</a></li> 
<li><a href="#">About us</a></li> 
<li><a href="#">Contact</a></li> 
</ul>

<h3>Archives</h3>
<ul>
<li><a href="#">December 2009</a></li>
</ul>

</div>
<div style="clear: both;"> </div>

<div id="footer">
Taskhood Project
</div>
</div>


</body>
</html>